<%= erb :'layouts/_header' %>
                <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/problem">Play</a></li>
            <li><a href="/solve">Solutions</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
    <div class="numbers"><%= problem %></div>
    <div class="numbers correct"><%= solution %> = <%= last_answer %>!</div>
    <!--<div class="status green">CORRECT!</div>-->
    <div class="green mybutton"><a href="/problem">Give me another!</a></div>
<%= erb :'layouts/_footer' %>